<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h2 class="titulo">BMI CALCULATOR</h2>
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="fondoitem" [ngClass]="{ 'sexoDesactivo': sexo === 'Masculino' }">
                        <div class="contenedor" style="cursor: pointer;" (click)="masculino()">
                            <i class="fas fa-mars sexo"></i>
                            <p>Masculino</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="fondoitem" [ngClass]="{ 'sexoDesactivo': sexo === 'Femenino' }">
                        <div class="contenedor" style="cursor: pointer;" (click)="femenino()">
                            <i class="fas fa-venus sexo"></i>
                            <p>Femenino</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="fondoitem">
                        <div class="contenedor">
                            <p>Altura</p>
                            <div class="estiloNumero">{{altura}}
                                <span class="cm">cm</span>
                            </div>
                            <input type="range" (input)="cambiarAltura($event)" [value]="altura" min="120" max="220" class="form-range">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-6">
                    <div class="fondoitem">
                        <div class="contenedor">
                            <p>Peso</p>
                            <div class="estiloNumero">
                                {{peso}}
                            </div>
                            <div>
                                <i class="fas fa-minus sumaResta" (click)="peso = peso - 1"></i>
                                <i class="fas fa-plus sumaResta" (click)="peso = peso + 1"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="fondoitem">
                        <div class="contenedor">
                            <p>Edad</p>
                            <div class="estiloNumero">
                                {{edad}}
                            </div>
                            <div>
                                <i class="fas fa-minus sumaResta" (click)="edad = edad - 1"></i>
                                <i class="fas fa-plus sumaResta" (click)="edad = edad + 1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button (click)="calcularBMI()" class="btn btn-color btn-lg btn-block">CALCULAR</button>
                </div>
            </div>
        </div>
    </div>
</div>